/** \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
 * file name: cool_style_sheet.css  
 * html: index.html
 *
 * file purpose: Make Saul Goodman's Business Meeting look cooler than it already does.
 * /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

/** Fonts **/
 /*font-family: 'Segoe UI', Tahoma, Dancing Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Verdana, sans-serif;*/
 body{
    background-color: rgb(247, 180, 55);
    border-right:1vmmm;
    font-family: Roboto, sans-serif;
    padding-right:40px;
}
.content-wrapper{
    padding-left: 10px;
}
*{
    padding-left: 4mm;
}
/* Containers */
header{
    background-color: rgb(255, 255, 255);
    border-left: -4vmin;
    border-right: -4vmin;
}
section {
    display: grid;
    background-color:aliceblue;
    border-style:grid;
    border-color:rgb(8, 0, 255);
    border-width:1.0em;
    border-right: 100vw;
    border-left: -40px;
    border-radius:0.5fr;
}
.mostly_everything {
    background-color: bisque;
    padding-left: 16px;
    padding-right: 16px;
}
.meeting_agenda {
    background-color: rgb(107, 109, 109);
    padding-left: 40px;
    padding-right: 16px;
}

/* Other */
p{
    text-align: left;
    margin-left:0%;
    padding-left:10mm;
    font-family: Georgia, sans-serif;
    /* top, right, bottom, left */
    margin: 0 10mm 5mm 3vmin;
}
hr {
    border-style: double;
    border: 10px solid rgb(21, 19, 68);
    border-radius: 5px;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 1000;
    font-size:larger;
    color:rgb(255, 0, 0);
    text-align: center;
}
.details{
    font-weight: 200;
    margin:auto;
    color:rgb(183, 211, 212);
}
h2{
    position:relative;
    font-weight: 300;
    border-left:5cm;
    font-family: Tahoma, serif;
    color:rgb(0, 42, 255);
    text-decoration:rgb(255, 255, 255);
}

button:hover {
    color: blue;
    size-adjust:initial*30;
}
button:active {
    color: rgb(187, 255, 0);
    font-size:larger;
}

#chicanery{
    padding-left:40mm;
}
ul li{
    list-style-type: square;
    margin-left: 2in;
    margin-right: 0.003in;
}