/** \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
 * file name: cool_style_sheet.css  
 * html: index.html
 *
 * file purpose: Make Saul Goodman's Business Meeting look cooler than it already does.
 * /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\*/

 body{
    background-color: rgb(247, 180, 55);
    border-left-width: 0.25in;
    /*font-family: 'Segoe UI', Tahoma, Dancing Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Verdana, sans-serif;*/
    font-family: Dancing+system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-wrapper{
    padding-left: 10px;
}
p{
    text-align: left;
}
hr {
    border: 10px solid rgb(21, 19, 68);
    border-radius: 5px;
}
h1{
    text-align: center;
}
.details{
    font-weight: 200;
    color:rgb(183, 211, 212);
}
h1 {
    font-weight: 300;
    font-family: Dancing+system-ui;
    color:rgb(255, 0, 0);
    text-decoration:rgb(0, 255, 110);
}
h2{
    position:relative;
    font-weight: 300;
    font-family: Dancing+system-ui;
    color:rgb(0, 42, 255);
    text-decoration:rgb(255, 255, 255);
}

#chicanery{
    padding-left:40mm;
}
section {
    display: grid;
    background-color:aliceblue;
    border-style:grid;
    border-color:rgb(8, 0, 255);
    border-width:1.0em;
    border-right: 100vw;
    border-left: -40px;
    border-radius:0.5fr;
}

ul li{
    list-style-type: square;
    margin-left: 2in;
    margin-right: 2in;
}